
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --swiper-theme-color:black;
}


ion-icon {
    color: white;
}


.active-icon > ion-icon{
    color: white;
   
}

.icon-detail > ion-icon{
    color: gray;
   
}

.basura > ion-icon{
color:black;
font-size: 1.4rem;
cursor: pointer;
}

.bandera{
    background: rgb(210,225,255);
    border-color: #d2e1ff;
    border-width: 2px;
    
background: linear-gradient(0deg, rgba(230,239,255,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(230,239,255,1) 70%);
}

.icons-checkout >ion-icon{
    cursor:pointer;
    font-size: 1.5rem;
}

.forma{
    width:0; height:0; border-right: 50px solid transparent; border-top: 50px solid white; border-left: 50px solid white; border-bottom: 50px solid white; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 15rem;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: #E3E3E3;
    border-radius: 0.5rem;
    height: 0.5rem;  
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: black;
    height: 2rem;
    width: 1rem;
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: 1px solid #E3E3E3;
   outline: 3px solid #E3E3E3;
   outline-offset: 0.125rem; 
 }
 
 /******** Firefox styles ********/
 /* slider track */
 input[type="range"]::-moz-range-track {
    background-color: #E3E3E3;
    border-radius: 0.5rem;
    height: 0.5rem;
 }
 
 /* slider thumb */
 input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
 
    /*custom styles*/
    background-color: black;
    height: 2rem;
    width: 1rem;
 }
 
 input[type="range"]:focus::-moz-range-thumb {
   border: 1px solid #E3E3E3;
   outline: 3px solid #E3E3E3;
   outline-offset: 0.125rem; 
 }
  